run-tests.php
nbproject
modules
mkinstalldirs
missing
*.lo
ltmain.sh
libtool
*.la
.libs
configure.in
configure
build
aclocal.m4
acinclude.m4
Makefile*
.deps
.dep.inc
config.sub
config.status
config.nice
config.log
config.h
config.h.in
config.guess
config.cache
install-sh
